.wrap{
  margin: 0 auto;
  width: 100%;
}

.header{
  height: 300px;
  background-color: $dark;
  display: flex;
  justify-content: center;
  align-items: center;
}

// 圖片取代文字
.bmiLogo {
  width: 117px;
  height: 117px;
  background: url(../images/BMICLogo2.png) no-repeat top;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}

.heightWeight{
  margin: 0 10%; //左右各留10%的空白
}

.heightWeight input{
  display: block;  //設定為區塊，呈現自動換行效果
  width: 250px;
  background-color: rgba(255,255,255,0.18);
  border-radius: 10px;
  outline: none;  //外框線:無
  border: 2px solid $primary;
  padding: 5px 15px;
  line-height: 28px;
  margin-top: 8px;
}

.heightAlert, .weightAlert{
  display: block;
  color: #ff0000;
  height: 18px;
  margin: 10px 0;
}

// 此段的設定是為了要隱藏
.heightWeight input::-webkit-outer-spin-button,
.heightWeight input::-webkit-inner-spin-button{
  -webkit-appearance: none;
}

//input[type="number"]驗証輸入類型為數字，拒絕非數字輸入
.heightWeight input[type="number"]{
  -moz-appearance:textfield;
}

.heightWeight input::-webkit-input-placeholder{
  color: rgba(255,255,255,0.5);
}

.heightWeight label{
  font-size: 18px;
  color: $primary;
  line-height: 21px;
}

//按鈕按下後出現的體重訊息文字
.assessResult{
  margin-left: 20px;
  font-size: 32px;
  line-height: 38px;
}

//Calculate 按鈕
.calculate {
  width: 120px;
  height: 120px;
  font-size: $h4-font-size;  //24
  border-radius: 50%;
  border: none;
  color: $dark;
  background-color: $primary;
  transition: 0.2s ease-in-out;
}

// Calculate 按鈕 hover時
.calculate:hover{
  cursor: pointer;
  box-shadow: 0px 0px 4px 2px $primary;
}

// Calculate 按鈕 按下去時
.calculate:active{
  box-shadow: 0px 0px 2px 1px $darkPrimary;
  background-color: $darkPrimary;
}

//---------------------------------------------------js寫入的排版變化

// 此為js部份，點擊計算後新增新的按鈕(顯示bmi數字的按鈕，大小和原黃色背景的按鈕一樣)
.reCalculateBt{
  background-color: $dark;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: relative;
}

// 點擊後reCalculateBt裡的重新整理小按鈕
.smallCircle {
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid $dark; // 小按鈕的外框線
}

.smallCircle::before{
  display: table;  //讓小按鈕裡的icon和它的底圈呈現垂真置中
  content: '';
  position: absolute;
  width: 14px;
  height: 19px;
  right: 20%;
  top: 12%;
  background-image: url(../images/icons_loop.png); //使用背景圖的方式
  background-repeat: no-repeat;
  background-position: center;
  z-index: 99; //使icon置於最上方
}

.reCalculateBt:hover {
  cursor: pointer;
}

//小按鈕hover時會一直轉動
.reCalculateBt:hover .smallCircle::before{
  animation: spin 1.5s linear infinite;  //infinite:無限循環
}

//小按鈕動畫部份，spin是動畫名稱
@keyframes spin{
  100%{
    transform: rotate(-360deg); //360度旋轉
  }
}

// Calculate按鈕按下去後，顯示bmi數字部份
.bmiResult{
  font-size: 32px;
  line-height: 38px;
  color: $ideal;
}
// Calculate按鈕按下去，顯示圈圈裡 BMI文字部份
.reCalculateBt span{
  display: block; // 區塊元素，自動換行
  font-size: $h10-font-size;  //14
  line-height: 17px;
  color: $ideal;
}

//---------------------------------------------------------------end

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}

.content_title {
  margin-top: 30px;
  
}