.wrap{
  margin: 0 auto;
  width: 100%;
}

.header{
  height: 300px;
  background-color: $dark;
  display: flex;
  justify-content: center;
  align-items: center;
}

// 圖片取代文字
.bmiLogo {
  width: 117px;
  height: 117px;
  background: url(../images/BMICLogo2.png) no-repeat top;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}

.heightWeight{
  margin: 0 10%;
}

.heightWeight input{
  display: block;  //設定為區塊
  width: 250px;
  background-color: rgba(255,255,255,0.18);
  border-radius: 10px;
  outline: none;
  border: 2px solid $primary;
  padding: 5px 15px;
  line-height: 28px;
  margin-top: 8px;
}